# Credenciales de acceso a ShineMonitor
SHINEMONITOR_USERNAME=tu_usuario@ejemplo.com
SHINEMONITOR_PASSWORD=tu_contraseña_secreta

# Configuración del Servidor y API
PORT=8000
HOST=0.0.0.0
DEBUG=false
PROJECT_NAME="Solar Monitor API"
API_V1_STR=/api/v1